
<!-- jumbotron / image -->    
    <div>
        <img src="#" width="100%" height="300px;" alt="Patients Esthetique distribution " />
    </div>
    <!-- main content begins -->
        <div class="container">
            
            <h1>Patients<span style="color:#162252;"></span></h1>
	<div class="row">		
		<div class="col-md-6"> 
                <h3>THE REVOLUTIONARY NEW PROCEDURE FIRST LIFT LFL PDO THREADS – NON-SURGICAL REJUVENATION &amp; LIFTING </h3>
                <p>
                    The new less invasive procedure that involves minimal downtime and less self care after the treatment.
                    
                </p>
                <P>
                   The final effect is tightening and lifting of sagging areas of tissue and skin. 
                </P>
                <p>
                    PDO (Polydioxanone) thread is a thread with no cones, thus no damage to the tissue. This has been widely used in medicine as subcutaneous sutures, and thus it is very safe.
                </p>
			
                <p>
                    The procedure is suitable for most people from 25 onwards, when the effects of ageing become apparent. Ageing causes the skin tissue to thin because the collagen and elastin fibre’s break down, which results in sagging skin, deep creases, folds and wrinkles. PDO threads reverse the effects of ageing and improve the quality of skin.
                </p>
			</div>
		<div class="col-md-6">
                <p>
                    If the patient does not want to have a face lift surgery, thread lift can be a very effective alternative. Threads are implanted into the sub-dermal skin and stimulate the production of collagen and the skin becomes firmer, elastic and moisturised. The thread dissolves itself in few months but the effect lasts longer than the regular dermal filler.
                </p>
                <p>
                    The thread can be applied to anywhere on the body, such as a flabby face, cheeks, eyebrows, to prevent eye bags, sagging neck skin, fine lines around cheeks, angle around the mouth, laugh lines, forearm and abdomen, smokers lines and lifting of breast.
                </p>
                <p>
                    The procedure is very simple, safe and almost painless.
                </p>
		</div> 
		
</div>		
          
<div class="clearfix"></div>			
            
                <!-- card styles --->
                <div class="row">

       <div id="fh5co-board" data-columns>

        	<div class="item">
        		<div class="animate-box">
	        		<a href="images/procedurePics/body1.png" class="image-popup fh5co-board-img" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, eos?"><img src="images/procedurePics/body1.png" alt="INDICATIONS FACE"></a>
        		</div>
        		<div class="fh5co-desc">
					<h3>INDICATIONS FACE</h3>
					<ul>
						<li>Horizontal and vertical forehead wrinkles</li>
						<li>Forehead lift</li>
						<li>Sagging eyebrows</li>
						<li>Lower eyelid - bags under the eyes</li>
						<li>Cheeks</li>
						<li>Naso-labial folds</li>
						<li>Marionette lines</li>
						<li>Jaw line</li>
						<li>Creased cheeks</li>
                    
					</ul>
				
				</div>
        	</div>
        	<div class="item">
        		<div class="animate-box">
	        		<a href="images/procedurePics/body2.png" class="image-popup fh5co-board-img"><img src="images/procedurePics/body6.png" alt="INDICATIONS BODY"></a>
	        		<div class="fh5co-desc">
					<h3>INDICATIONS BODY</h3>
					<ul>
						<li>Wrinkles on the neck and cleavage</li>
						<li>Stretch marks on the buttocks, belly, arms and legs</li>
						<li>Insensitive subcutaneous tissue and skin (after liposuction treatments)</li>
						<li>Obesity – arms, belly, ribs, thighs, buttocks</li>
					</ul>
					</div>
        		</div>
        	</div>
        	<div class="item" style="color: black;">
        		<div class="animate-box">
	        		<a href="images/procedurePics/body4.png" class="image-popup fh5co-board-img"><img src="images/procedurePics/body4.png" alt="Features"></a>
	        		<div class="fh5co-desc">
						<h3>Features </h3>
						<ul>
							<li>Instant and long lasting results</li>
							<li>Consecutive 2-3 times procedure results in lasting effect for 2 years</li>
							<li>Needling induce wound healing effect</li>
							<li>Angiogenesis</li>
							<li>Fibroblast stimulation</li>
							<li>Collagen induction</li>
							<li>Improve skin tone &amp; radiance</li>
							<li>Tightening pores by new tissue</li>
							<li>Non-premature ageing of skin tissue</li>
							<li>No cuts, no incisions</li>
							<li>Easy to insert</li>
							<li>Minimal downtime</li>
							<li>Almost painless</li>
						</ul>
					</div>
        		</div>
        	</div>
        	<div class="item">
        		<div class="animate-box">
	        		<a href="images/img_4.jpg" class="image-popup fh5co-board-img"><img src="images/procedurePics/body6.png" alt="SKIN REJUVENATION EFFECTS"></a>
	        		<div class="fh5co-desc">
						 <h3>SKIN REJUVENATION EFFECTS</h3>
						<ul>
							<li>Stimulation of Collagen Production</li>
							<li>Promotion of local blood microcirculation</li>
							<li>Activation of reparative process</li>
						</ul>
					</div>
        		</div>
        	</div>
            </div>
            </div>
            <div class="clearfix"></div>
                <!---<p><button class="btn btn-primary">Download</button></p>-->
                <!-- inner div--> 
            <div class="clearfix"></div><br>
    </div><!-- end ofabout us main content-->

<script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/main1.js"></script>
    <script src="js/wow.min.js"></script>
    <!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>                
    <!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Magnific Popup -->
	<script src="js/jquery.magnific-popup.min.js"></script>
	<!-- Salvattore -->
	<script src="js/salvattore.min.js"></script>
	<!-- Main JS -->