<!-- jumbotron / image -->   
	<div>
		
		<img src="../../images/slider/face-4.jpg" class="img-responsive" width="100%" alt="models image ">
		
	</div>
         <div class="container">
        <h1 style="top:170px">Be Esthetique's </h1>
    
         <div class="row placeholders">
            <div class="col-xs-6 col-sm-2 placeholder">
              <!--<img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="100" height="100" class="img-responsive" alt="Generic placeholder thumbnail">-->
                <div style=" border-radius:10px;">
					<h1 style="border-color:rgba(22, 34, 82, 1);">M</h1>
				</div>
              <h4>M</h4>
             <!-- <span class="text-muted">Model 1</span>-->
            </div>
            <div class="col-xs-6 col-sm-2 placeholder">
              	<div >
					<h1>O</h1>
				</div>
              <h4>0</h4>
              <!--<span class="text-muted">Model 2</span>-->
				
            </div> 
			 
            <div class="col-xs-6 col-sm-2 placeholder">
              <div >
					<h1 style=" border-color:green;">D</h1>
				</div>
              <h4>D</h4>
             <!-- <span class="text-muted">Model 3</span>-->
            </div> 
            <div class="col-xs-6 col-sm-2 placeholder">
             	<div>
					<h1 style="border-color:red;">E</h1>
				</div>
              <h4>E</h4>
             <!-- <span class="text-muted">Model 4</span>-->
            </div>
            <div class="col-xs-6 col-sm-2 placeholder">
				<div>
					<h1 style=" border-color:purple;">L</h1>
				</div>
              <h4>L</h4>
              <!--<span class="text-muted">Model 5</span>-->
            </div>
          </div>
    </div>
    <!-- main content begins -->
        <div class="container">
            <h5>Enjoy the privilegdes of a Model </h5>
            <p>Join Now!</p>
                
                    <form name="modelForm" class="form-horizontal"  name="modelsForm" role="form">
                        <div class="container">
                        <div class="form-group">
                            <label class="col-md-2">FIRST NAME:</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" name="firstname" placeholder="FirstName" required />
                                <span ng-show="modelsForm.firstname.$dirty && modelsForm.firstname.$invalid" class="help-inline">Name Required</span>

                            </div> 
                            
                        </div>
                        <div class="form-group">
                        <label class="col-md-2" >Last Name:</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" name="lastname" placeholder="LastName" required />
                                <span ng-show="modelsForm.lastname.$dirty && modelsForm.firstname.$invalid" class="help-inline">Name Required</span>
                            </div>    
                        </div> 
                        <div class="form-group">
                            <label class="col-md-2">Email:</label>
                            <div class="col-md-4">
                                <input type="email" class="form-control" name="email" placeholder="EMail" />
                                <span ng-show="modelsForm.email.$dirty && modelsForm.firstname.$invalid" class="help-inline">Name Required</span>
                            </div>    
                        </div>
                        <div class="form-group">
                            <label class="col-md-2">Phone:</label>
                            <div class="col-md-4">    
                                <input type="text" class="form-control" name="phone" placeholder="phone" />
                                <span ng-show="modelsForm.phone.$dirty && modelsForm.firstname.$invalid" class="help-inline">Name Required</span>
                            </div>    
                        </div>
                        <div class="form-group" >
                            <label class="col-md-2">Mobile: </label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" name="mobile" placeholder="Mobile Phone" />
                                <span ng-show="modelsForm.mobile.$dirty && modelsForm.firstname.$invalid" class="help-inline">Name Required</span>
                            </div>    
                        </div>
                        <div class="form-group">
                        <label class="col-md-2">Select Prefered Option </label>    
                        <div class="col-md-4">    
                            <select class="form-control">
                                <option>select Body Part to Model</option>
                                <option>Forehead </option>
                                <option>chicks</option>
                                <option>Lips</option>
                                <option></option>
                            </select>
                        </div>    
                        </div> 
                           <div class="form-group">
                               <label class="col-md-2"></label>
                               <div class="col-md-4"><button class="btn btn-primary">Apply Now</button></div>
                        </div>       
                        </div>    
                    </form>
                   
            <!--inner div -->
            <div class="clearfix"></div>
    </div><!-- end ofabout us main content-->
    