<div class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#main-slider" data-slide-to="0" class="active"></li>
                <li data-target="#main-slider" data-slide-to="1"></li>
               <li data-target="#main-slider" data-slide-to="2">
				</li><li data-target="#main-slider" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">

                <div class="item active" style="background-image: url(images/slider/face-3.jpg)">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1">OPEN YOURSELF TO BEAUTY</h1>
                                    <h2 class="animation animated-item-2">When the effects of ageing <br>
                                        becomes apparent and surgery <br >is not an option<br> <Span class="highlighter">ESTHETIQUE</Span> distribution products will help ..... </h2>
                                    <a class="btn-slide animation animated-item-3" href="#">Read More</a>
                                </div>
                            </div>

                            <!-- <div class="col-sm-6 hidden-xs animation animated-item-4">
                                <div class="slider-img">
                                    <img src="images/slider/img1.png" alt="general-facelift image" class="img-responsive img-circle">
                                </div>
                            </div> -->

                        </div>
                    </div>
                </div><!--/.item-->

               <!--<div class="item" style="background-image: url(images/slider/bg2.jpg)">-->
                    <!--<div class="item" style="background-image: url(images/slider/bg1.jpg)">-->
                        <div class="item">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1">We believe beauty can be sustained, <br>preserved  and nutured <br>till death </h1>
                                    <h2 class="animation animated-item-2">It is acheivable. We have got something for you. Are you up for it ? Here is how ...</h2>
                                    <a class="btn-slide animation animated-item-3" href="#">Read More</a>
                                </div>
                            </div>

                            <div class="col-sm-6 hidden-xs animation animated-item-4">
                                <div class="slider-img" >
                                    <img src="images/slider/facelift_img.png" style="padding-right:10px;" class="img img-responsive"><!-- arrange the different parts of pics -->

                                </div>
                            </div>

                        </div>
                    </div>
                </div><!--/.item-->
				  <div class="item" style="background-image: url(images/slider/face-4.jpg)">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1">Be a model </h1>
                                    <h2 class="animation animated-item-2">represent the term BEAUTY...</h2>
                                    <a class="btn-slide animation animated-item-3" href="#">Read More</a>
                                </div>
                            </div>
                            <!-- <div class="col-sm-6 hidden-xs animation animated-item-4">
                                <div class="slider-img">
                                    <img src="../images/esthetiqueaboutus.jpg" width="300" height="350" class="img-responsive img-circle">
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div><!--/.item-->

				<div class="item" style="background-image: url(images/slider/face-1.jpg)">

                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1">Medical Personnels </h1>
                                    <h2 class="animation animated-item-2">You can do more...</h2>
                                    <a class="btn-slide animation animated-item-3" href="#">Read More</a>
                                </div>
                            </div>
                            <div class="col-sm-6 hidden-xs animation animated-item-4">
                                <div class="slider-img">
                                   <!-- <img src="../images/esthetiqueaboutus.jpg" width="300" height="350" class="img-responsive img-circle">-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
        <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
            <i class="fa fa-chevron-left"></i>
        </a>
        <a class="next hidden-xs" href="#main-slider" data-slide="next">
            <i class="fa fa-chevron-right"></i>
        </a>
    </section><!--/#main-slider-->

    <!-- <script type="javascript">
      $(document).ready( function() {
          console.log($(window));
          $('.carousel-inner .item').each( function() {
              console.log($(window));
              $(this).css({
                  'height': $(window).height()+'px'
              });
          });
      });
    </script> -->
