<!-- jumbotron / image -->    
    <div>
        <img src="../../images/slider/bg4.jpg" width="100%" height="400px;" alt="Doctors' corner " />
    </div>
    <!-- main content begins -->
        <div class="container">
            
            <h1>Doctors' Corner</h1>
               <p> <h2>FIRST LIFT LFL</h2> is a premium selection of most technologically advanced second generation PDO THREADS (straight, spiral (screw), barbs and 4D barbs) resulting in meeting requirements of most demanding patients.
            </p>
                <h2>ELIMINATE FINE WRINKLES</h2>
                <ul>
                    <li>Smoother the deep wrinkles</li>
                    <li>Improve skin colour, elasticity, texture</li>
                    <li>Delay aging process and prevent sagging</li>
                </ul>
                <h2>INDICATION</h2>         
                <ul>
                    <li>Recommended for the prevention and treatment of involution changes due to aging</li>
                    <li>Patients age group 30-55</li>
                </ul>
                <h2>APPLICATION ON THE FACE</h2>
                <ul>
                    <li>Vertical and horizontal forehead wrinkle</li>
                    <li>Brow lifting, lower the outer edges of the eyebrows, flabby, soft tissue drooping eyebrows </li>
                    <li>Lower eyelid – lagged bag</li> 
                    <li>Malar prominence</li> 
                    <li>Pronounced naso-labial fold</li> 
                    <li>Malar-jugal groove</li> 
                    <li>Submental fold</li> 
                    <li>Marionette fold</li> 
                    <li>V-Lifting</li> 
                    <li>Drooping cheeks and the area under the lower jaw</li> 
                    <li>The folds of skin on the chin</li> 
                    <li>Wrinkles cheeks</li>
                </ul>
                <h2>APPLICATION ON THE BODY</h2>
                <ul>
                    <li>Folds end wrinkles of skin on the neck and chest</li>
                    <li>Breast and bottoms firming, shaping</li>
                    <li>Sagging tissue end stretch marks on the buttocks, abdomen, arms and legs</li>
                    <li>Rugged terrain skin and subcutaneous tissue (especially after liposuction)</li>
                    <li>Obesity and cellulite – arms, abdomen, legs, ribs</li>
                    <li>Alopecia</li>
                </ul>
                <h2>CONTRADICTIONS</h2>
                <ul>
                    <li>Various acute infectious diseases (SARS, influenza, etc.)</li>
                    <li>Inflammation of the skin</li>
                    <li>Cancers</li>
                    <li>Tendency to keloids</li>
                    <li>Bleeding tendency and some diseases of the blood (blood clotting)</li>
                </ul>
                <h2>We provide training to all Aesthetic Practitioners</h2>
        
            <!-- inner div--> 
            <div class="clearfix"></div>
    </div><!-- end ofabout us main content-->