<!-- jumbotron / image -->
    <div class="jumbotron" style="background-image: url(images/slider/face-5.jpg); background-size: cover;">
      <div class="container">
          <hgroup>
            <h2>About </h2><h1><span style="color:#162252;">ESTHETIQUE</span></h1>
          </hgroup>
        <!-- <p>Your Access to lasting beauty <img src="images/darkness-1149469.jpg" style="float:right;margin-top:0;padding-top:0; margin-right:0; padding-right:0" class="img-responsive" width="40%" height="60%" alt="Access to lasting beauty" ></p> -->
        <!--<p><a class="btn btn-default btn-sm" href="#" role="button">Learn more &raquo;</a></p>-->
      </div>
    </div>
    <!-- main content begins -->
        <div class="container">

            <h1><span style="color:#162252;">About</span> ESTHETIQUE</h1>
           <!-- <div class="col-md-5 col-md-offset-2" style="padding:10px; margin-bottom:20px;">-->
			<div class="row">
			<!-- esthetique distribution section -->
            <div class="col-md-6" style="padding:10px; margin-bottom:20px;">
           
				

            <p> DISTRIBUTION IS AN EXCLUSIVE DISTRIBUTOR OF FIRST LIFT LFL PDO THREADS IN THE UK.
                FIRST LIFT LFL is premium lifting thread made of PDO (Polydioxanone) which is absorbed after proliferating collagen by stimulating fibroblast. Any of you can experience overall face contouring, skin elasticity. It brings natural and dramatic effect to face and body after simple and safe treatment. The superior quality of the Ultra Thin Wall Needle allows the treatment easy, atraumatic and painless.
            </p>
            <p>
                PDO is a strong synthetic monofilament fiber, consisting of one or two twisted solid fiber thread, which dissolves in the tissue after a certain time.
            </p>


            <p>
                Polydioxanone material more 30 years is used in plastic surgery, gastroenterology, urology, gyneacology, ophthalmology for cutaneous and subcutaneous sutures.
            </p>
        </div>
           <div class="col-md-6" style="padding:10px 20px; margin-bottom:20px;">
            <p>
                This material meets all the requirements established by the United States Pharmacopeia (USP) for surgical sutures.
            </p>
            <ul>
                <li>Very high tensile strength</li>
                <li>Excellent pliability</li>
                <li>Smooth tissue passage</li>
            </ul>

            <p>
                This material meets all the requirements established by the United States Pharmacopeia (USP) for surgical sutures.
            </p>
            <p>
                FIRST LIFT LFL line of products is certified by internationally and domestically authorised organisations.
            </p>
            </div><!-- inner div-->
            <div class="clearfix"></div>
			</div>
			<!-- middle -->
				<div class="row">
					<div class="col-md-2 col-md-offset-5"><span class="glyphicon glyphicon-plus"></span></div>
				</div>
			<!-- end of middle -->
			<!-- lower section for Esthetique Training -->
			<div class="container-fluid">
			<div class="row">
				
				<div class="panel panel-defafult col-md-4 col-md-offset-1">
					<div class="panel-heading">
						<h2 >Esthetique Training </h2>
					</div>	
					<div class="panel-body">
						<p>We provide high quality hands-on training to Aesthetic Practitioners in our training facility in Central London, as well as in house.Read More</p>
					</div>	
				</div>
				<!-- lower section for Esthetique Training -->
				<div class="panel panel-defafult col-md-4 col-md-offset-1 ">
					<div class="panel-head">
						<h2 class="panel-headeing">Esthetique Models </h2>
					</div>	
					<div class="panel-body">
						<p >WE recruit Models to </p>
					</div>	
				</div>
			</div>
			</div>
    </div><!-- end ofabout us main content-->
