<div class="row">
	<div>
		<h2>ESthetique <span>Distribution Products</span></h2> 
	</div><!-- upper -->
	</div>

<div class="container main-content">
	<!--begin poroducts text -->
	 <div class="row">
					<h1>Products</h1>
			<h2>Introduction of First Lift LFL</h2>
			<div class="row">
				<div class="col-md-6">			
					<span>First Lift LFL</span> is premium lifting thread made of PDO(Polydioxanone) which is absorbed 
					after proliferating collagen by stimulating fibroblast. 
					Any of you can experience overall face contouring, skin elasticity.
				</div>
				<div class="col-md-6">
					It brings natural and dramatic effect to face and body after simple and safe treatment. 
					The superior quality of the Ultra Thin Wall Needle allows the treatment easy, non-traumatic and painless.
					THE BEST AND EASIEST TECHNIQUE FOR SKIN REJUVENATION AND LIFTING


				</div>
			</div><!-- end of the upper row -->
			<div class="clearfix"></div>
		<div class="col-md-7 col-md-offset-3" ng-controller="ProductsController">
		  <script type="text/ng-template" id="group-template.html">
			<div class="panel {{panelClass || 'panel-default'}}">
			  <div class="panel-heading">
				<h4 class="panel-title" style="color:#fa39c3">
				  <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading"><span
					ng-class="{'text-muted': isDisabled}">{{heading}}</span></a>
				</h4>
			  </div>
			  <div class="panel-collapse collapse" uib-collapse="!isOpen">
				<div class="panel-body" style="text-align: right" ng-transclude></div>
			  </div>
			</div>
		  </script>

  <div class="checkbox" ng-hide="oneAtATime" >
    <label>
      <input type="checkbox" checked ng-model="oneAtATime">
      Open only one at a time
    </label>
  </div>
  <uib-accordion close-others="oneAtATime">
    
  
     <uib-accordion-group is-open="status.open">
      <uib-accordion-heading>
        Benefits <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
      </uib-accordion-heading>
      <!-- <div ng-repeat="item in items">{{item}}</div>-->
		 <ul>
					<li>Easy</li>
					<li>effective </li>
					<li>No downtime</li>
				</ul>
    </uib-accordion-group>
    
     <uib-accordion-group is-open="status.open">
      <uib-accordion-heading>
        Features<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
      </uib-accordion-heading>
      
				<ul>
					<li>Ultra Thin Wall High Quality Needle</li>
					<li>Qualified PDO thread</li>
					<li>Patented</li>
					<li>CE Class 3</li>
					<li>High Market Share</li>
				</ul>
    </uib-accordion-group>
    
     <uib-accordion-group is-open="status.open">
      <uib-accordion-heading>
        Effects<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
      </uib-accordion-heading>
      
				<ul>
					<li>Lifting</li>
					<li>Skin Rejuvenation (Tightening, Brightening)</li>
					<li>Wrinkle Removal</li>
					<li>Reduction of Cellulite</li>
				</ul>
    </uib-accordion-group>
    <uib-accordion-group is-open="status.open">
      <uib-accordion-heading>
      Mechanism<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
      </uib-accordion-heading>
      
				
				<img src="../../images/pdo_mechanism_img.jpg" class="img-thumbnail" alt="PDO mechanism for the treatment " />
				<ul>
					<li>Ultra Thin Wall Needle allows big size of PDO to be inserted into the needle</li>
					<li>Sharp/neat cutting edge by special grinding technology</li>
					<li>Special coating with less resistance enables the needle to be inserted into the skin smoothly</li>
				</ul>
    </uib-accordion-group>
    <uib-accordion-group is-open="status.open">
      <uib-accordion-heading>
        Technology<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
      </uib-accordion-heading>
      
				
				<img src="../../images/pdo_technology_img.jpg" />
				<ul>
					<li>Ultra Thin Wall Needle allows big size of PDO to be inserted into the needle</li>
					<li>Sharp/neat cutting edge by special grinding technology</li>
					<li>Special coating with less resistance enables the needle to be inserted into the skin smoothly</li>

				</ul>
    </uib-accordion-group>
  </uib-accordion>
</div>
		<!--end of general intro for the  products -->
	</div>
	<!-- end of the upper text -->
	<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-9">
	<div class="row">
	<div class="col-sm-6 col-md-4 col-lg-4 product-box">
		<img src="../../images/products/thumbs/lfl_basic_thumb.jpg"  alt=" LFL Basic  "/>
			<h3>LFL BASIC</h3>
		<div class="row">
			<div class="product-info">
				<div class="product-info-cust"><a href="">view Details</a></div><div></div>
			</div>	
		</div>
	</div><!--product 1-->
	<div class="col-sm-6 col-md-4 col-lg-4 product-box">
		<div class=".product-box-head"></div>
		<img src="../../images/products/thumbs/lastbarbII_thumb.jpg" alt="LFL BARB II" />
		<h3>LFL SCREW</h3>
		<div class="row ">
			<div class="product-info">
				<div class="product-info-cust"><a href="">View Details</a></div><div></div>
			</div>	
		</div>
	</div><!--product 2 -->
	<div class="col-sm-6 col-md-4 col-lg-4 product-box">
		
		<img src="../../images/products/thumbs/lfl_.screwjpg_thumb.jpg"  alt="LFL screw " />
		<h3>LFL BARB II</h3>
		<div class="row">
			<div class="product-info">
				<div class="product-info-cust">
					<a href="">view Details</a></div><div>
				</div>
			</div>	
		</div>
	</div><!--product 3 -->
	<div class="col-sm-6 col-md-4 col-lg-4 product-box">
		<img src="../../images/products/thumbs/lastbarbII_thumb.jpg"  alt="LFL Barb IV" />
		<h3>LFL BARB II ANCHOR</h3>
		<div class="row">
			<div class="product-info">
				
					<div class="product-info-cust"><a href="">view Details</a></div><div>
				</div>
			</div>	
		</div>
	</div><!--product 4 -->
	<div class="col-sm-6 col-md-4 col-lg-4 product-box">
			<img src="../../images/products/thumbs/Image_014_thumb.jpg" alt=" LFL BARB IV " />
			<h3>LFL BARB IV</h3>
		<div class="row">
			<div class="product-info">
				<div class="product-info-cust"><a href="">view Details</a></div><div></div>
			</div>	
		</div>
	</div><!--product 5 -->
	<div class="col-sm-6 col-md-4 col-lg-4 product-box">
		<img src="../../images/products/thumbs/lfl_basic_thumb.jpg"  alt="LFL SCREW" />
		<h3>LFL BASIC / SIMPLE</h3>
		<div class="row">
			<div class="product-info">
				<div class="product-info-cust"><a href="">view Details</a></div><div></div>
			</div>	
		</div>	
	</div><!--product 6 -->
	</div><!-- end of row -->
	</div>	
	</div>	
</div><!--end of the products page -->