
<div class="row">
	
	</div>
<div class="container main-content">
	<!--end of the title row -->
	
	<div class="row">
		<div class="col-md-9">
			<div>
				<div  class="col-md-5">
					<div class="row">
					<div class="product-img">
						<img src="../../images/products/Image_014.jpg"  alt="LFL" />
					</div><!-- upper row -->
					</div>	
					<!-- thumb nails begin -->
					<!--<div class="row" id="thumbs-list">
						
							<div class=" col-sm-6 col-md-4"><img src="../../images/products/thumbs/lfl_basic_thumbs2.jpg" class="img-thumbnail" alt="LFL basic front "/></div>
							<div class="col-sm-6 col-md-4"><img src="../../images/products/thumbs/lfl_.screwjpg_thumbs2.jpg" class="img-thumbnail" alt=""/></div>
							<div class="col-sm-6 col-md-4"><img src="../../images/"  class="img-thumbnail" alt=""/></div>
						
					</div>-->
					
					<div class = "row">
   
						   <div class = "col-sm-6 col-md-4" id="thumbs">
							  <a href = "#" class = "thumbnail">
								 <img src = "../../images/products/thumbs/lfl_.screwjpg_thumbs2.jpg" alt = "LFL screw ">
							  </a>
						   </div>

						   <div class = "col-sm-6 col-md-4">
							  <a href = "#" class = "thumbnail">
								 <img src = "../../images/products/thumbs/lfl_basic_thumbs2.jpg" alt = "LFL basic">
							  </a>
						   </div>

						   <div class = "col-sm-6 col-md-4" >
							  <a href = "#" class ="thumbnail">
								 <img src = "../../images/products/thumbs/lfl_basic_thumbs2.jpg" alt = "LFL Basic">
							  </a>
						   </div>

						   
				</div><!-- end of the thumbnails -->
					
					
				</div>
				<div class="col-md-7">
					<h3>LFL BASIC</h3><!-- product name -->
					<p>Screw with spiral shape suture can lead to localized lifting and internal volumizing. And it widens spaces that the thread is contacted to the skin so that it allows more stimulation of collagen.
					</p><!-- descritpion  -->
				</div>
			</div><!-- end of the left section -->
			<div>
			
			</div><!-- end of the right hand section -->
		</div>
		
	</div><!-- end of the details ccontent -->
	<div class="clearfix"></div>
	<div></div>
</div>