<!--vertical Tabs-->
        		<div ng-init="tab = 1">
		            <ul class="nav nav-pills">
						<li ng-class="{{active:panel.isSelected(1)}}"><a href="" ng-click="panel.selectTab(1)">Description</a></li>
						<li ng-class="{{active: panel.isSelected(2)}}"><a href="" ng-click="panel.selectTab(2)">Specified treatment areas</a></li>
						<li ng-class="{{active:panel.isSelected(3)}}"><a href="" ng-click="panel.selectTab(3)">Specification</a></li>
						<li ng-class="{{active:panel.isSelected(4)}}"><a href="" ng-click="panel.selectTab(4)">Product Review</a></li>
		            </ul>
		            <div>
		                <div class="panel" ng-show="panel.isSelected(1) ">
							<h1>First Lift LFL Basic</h1>
		                	<p></p>
		               		
		                </div><!-- option 1 --->
						<!-- option 2 starts -->
		                <div class="panel" ng-show="panel.isSelected(2) ">
		                	<h3>Specified treatment areas</h3>
		                    <p>
								<ul>
									<li>Face and body skin reinforcement</li>
									<li>Face shape strengthening</li>
									<li>Periorbital area rejuvenation</li>
									<li>Correction of purse wrinkles</li>
									<li>Lip recontouring</li>
									<li>Reinforcement of a medial part of the neck</li>
									<li>Customized applications (treatment for muscles, lipolysis, acupuncture)</li>
									<li>Body contouring</li>
								</ul>
							</p>
		                </div>
						<!-- option 2 ends -->
						<!-- begining of the 3rd option -->
		                <div  class="panel" ng-show="panel.isSelected(3) ">
		                	<h3>Specification</h3>
		                	<p>
								<table class="table table-striped table-responsive">
				<tr>
					<th>Size of Needle</th>
					<th>Length of Filament</th>
					<th>USP</th>
				</tr>
				<tr>
					<td>31G 30 mm</td>
					<td>30 mm</td>
					<td>7-0</td>
					
				</tr>
				<tr>
					<td>29G 40 mm</td>
					<td>50 mm</td>
					<td>6-0</td>
					
				</tr>
				<tr>
					<td>29G 50 mm</td>
					<td>70 mm</td>
					<td>6-0</td>
					
				</tr>
				<tr><!--- tbc-->
					<td>27G 60 mm</td>
					<td>90 mm</td>
					<td>5-0</td>
					
				</tr><tr>
					<td>25G 90 mm</td>
					<td>150 mm</td>
					<td>5-0</td>
					
				</tr>
			</table>
							</p>
		                </div>
						<!-- option 3 ends -->
		            </div>
	<!-- second product  starts -->
	<div class="panel"  >
		          <div>
		                	<h3>Specified treatment aeras</h3>
					<p>		
						<ul>
							<li>Double chin correction</li>
							<li>Eyebrow lifting</li>
							<li>Correction of linear wrinkles by internal volumizing</li>
							<li>Improvement of a nasolabial triangle structure</li>
							<li>Face shape correction</li>
							<li>Bodycontouring</li>
						</ul>
					</p>
		               		
		        </div>
		                <div>
		                	<h3>Specification</h3>
		                	
		                	<table>
								<tr>
									<th colspan="2">Needle</th>
									<th colspan="2">Filament</th>
								</tr>
								<tr>
									<th>Gauge</th>
									<th>Length</th>
									<th>Length</th>
									<th>USP</th>
								</tr>
								<tr>
									<td>26G</td>
									<td>60 mm</td>
									<td>90 mm</td>
									<td>5-0</td>
								</tr>
								<tr>
									<td>27G</td>
									<td>50 mm</td>
									<td>70 mm</td>
									<td>5-0</td>
								</tr>
								<tr>
									<td>29G</td>
									<td>40 mm</td>
									<td>52 mm</td>
									<td>6-0</td>
								</tr>
							</table>
		                </div>
		                <div>
							<h3>details</h3>
		                	<p>
					Screw with spiral shape suture can lead to localized lifting and internal volumizing. And it widens spaces that the thread is contacted to the skin so that it allows more stimulation of collagen.
					
					</p>
		                </div>
		            </div>
<!-- 3rd product starts  -->
<div class="panel">
		                <div>
		                	<h3> Details</h3>
		                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna, euismod ut ornare non, volutpat vel tortor. Integer laoreet placerat suscipit. Sed sodales scelerisque commodo. Nam porta cursus lectus. Proin nunc erat, gravida a facilisis quis, ornare id lectus. Proin consectetur nibh quis urna gravida mollis.</p>
		               		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna, euismod ut ornare non, volutpat vel tortor</p>
		                </div>
		                <div>
		                	<h3>Product Tags</h3>
		                	<h4>Add Your Tags:</h4>
		                	<form>
		                		<input type="text"> <input type="submit" value="ADD TAGS"/>
		                		<span>Use spaces to separate tags. Use single quotes (') for phrases.</span>
		                	</form>
		                </div>
		                <div>
		                	<h3>Customer Reviews</h3>
		                	<p>There are no customer reviews yet.</p>
		                </div>
		            </div>
       		</div>
       		<div class="clear"> </div>