<div class="container">
	<!--- main content --> 
	<div class="row">
		<img src="" alt="products" /> 
	</div>
	<!-- main content starts -->
	<div>
		<div class="row" id="product-info">

		<div class="row" id="products-row">
		<!-- lfl basic begins -->
		
		<div class="col-md-3" id="product-box"><!-- move this into cols -->
			<h1>First Lift LFL Basic</h1>
			<img src="images/products/lfl_basic.jpg" class="img-responsive " width="" alt="LFL basic " />
			<p>Basic type made with Polydioxanone(PDO) suture is widely used in <!--skin rejuvenation and local firming purpose for various body and face areas.-->
				<br>
				<a class="btn-slide animation animated-item-3" href="#">Read More</a>
			</p>
			
		</div>
		<!--end of basic -->
		<!-- 2nd lfl screw begins  -->
		<div class="col-md-3" id="product-box">
			<!-- begining of the first tab for LFL Screw-->
			<div >
				<h1>First Lift LFL Screw</h1>
				<img src="../../images/products/lfl_.screwjpg.jpg" class="img-responsive " alt=" LFL screw " />
				<p>
					Screw with spiral shape suture can lead to localized lifting and internal volumizing. And it widens spaces that the thread is contacted to the skin so that it allows more stimulation of collagen.
					<a href="">Read more..</a>
				</p>
			</div>
			<!-- end of first tab LFL Screw-->
			
		</div>
		<!-- end of lfl screw -->
		<!-- start of LFL BArb II -->
		<div class="col-md-3" id="product-box">
			<h1>First Lift LFL Barb II</h1>
			<img src="../../images/products/lfl_barbII.jpg" class="img-responsive "  width="80" height="193" alt=" LFL Barb II" />
			<p>
				Barb II with bi directional cogs acts to hold the skin like double hooks when the thread is pulled. It is most 						powerful for any spe¬ cific body and face areas.
				<!--<a ui-sref="productDetails{{productId: vmBridge.pproduct.productId}}">Read more..</a>-->
				<a ui-sref="/product">Read more..</a>
			</p>
			
		</div>
		<!-- end of lfl barb II -->
		
		</div><!-- end of the products row -->
	</div><!-- end of main content -->
	
</div>
<div class="clearafix">&nbsp;</div>
